/* Button | DropDownButton | ComboButton | ToggleButton
 * 
 * Styling Buttons mainly includes:
 * 
 * 1. Containers
 * 		.dijitButton
 * 		.dijitDropDownButton
 * 		.dijitComboButton
 * 		.dijitButtonNode - common button/arrow wrapper shared across all three button types 
 *
 * 2. Button text
 * 		.dijitButtonText
 * 
 * 3. Arrows - only for DropDownButton and ComboButton
 * 	     There are total four directions arrows - down, left, right, up:
 * 		.dijitArrowButtonInner - down arrow by default
 *      .dijitLeftArrowButton .dijitArrowButtonInner - left arrow
 *      .dijitRightArrowButton .dijitArrowButtonInner - right arrow
 *      .dijitUpArrowButton .dijitArrowButtonInner - up arrow
 * 
 * 4. States - Hover, Active, Disabled, e.g.
 * 		.dijitButtonHover .dijitButtonNode
 * 		.dijitButtonActive .dijitButtonNode
 * 		.dijitButtonDisabled .dijitButtonNode
 *      
 *      .dijitDisabled .dijitArrowButtonInner  - disabled arrow states 
 */
.dark .dijitButtonNode {
	/* rules for dijit.form.*Button widgets and arrow nodes on ComboBox, Spinner etc. */

	-webkit-transition-property: background-color;
	-moz-transition-property: background-color;
	transition-property: background-color;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.dark .dijitButton .dijitButtonNode,
.dark .dijitDropDownButton .dijitButtonNode,
.dark .dijitComboButton .dijitButtonNode,
.dark .dijitToggleButton .dijitButtonNode,
.dark .dijitDialog .dijitMenuItemSelected {
	/* rules for the dijit.form.*Button widgets (see also ComboButton section below) */

	border: 1px solid #0074A2;
	padding: 7px 10px 5px;
	color: #FFF;
	background-color: #0074A2;
}

.dark .dijitComboButton .dijitArrowButton {
	border-left-width: 0;
	padding: 4px 2px 4px 2px;
	/* TODO: still needed? */

}

/*arrow styles for down/up/left/right directions*/
.dark .dijitArrowButtonInner {
	width: 15px;
	height: 15px;
	margin: 0 auto;
	background-image: url("../form/images/buttonArrows.png");
	background-repeat: no-repeat;
	background-position: -51px 53%;
}

.dark .dijitLeftArrowButton .dijitArrowButtonInner {
	background-position: -77px 53%;
}

.dark .dijitRightArrowButton .dijitArrowButtonInner {
	background-position: -26px 53%;
}

.dark .dijitUpArrowButton .dijitArrowButtonInner {
	background-position: 0 53%;
}

.dark .dijitDisabled .dijitArrowButtonInner {
	background-position: -151px 53%;
}

.dark .dijitDisabled .dijitLeftArrowButton .dijitArrowButtonInner {
	background-position: -177px 53%;
}

.dark .dijitDisabled .dijitRightArrowButton .dijitArrowButtonInner {
	background-position: -126px 53%;
}

.dark .dijitDisabled .dijitUpArrowButton .dijitArrowButtonInner {
	background-position: -100px 53%;
}

.dark .dijitButtonText {
	padding: 0 0.3em;
	text-align: center;
}

/* hover status */
.dark .dijitButtonHover .dijitButtonNode,
.dark .dijitDropDownButtonHover .dijitButtonNode,
.dark .dijitComboButton .dijitButtonNodeHover,
.dark .dijitComboButton .dijitDownArrowButtonHover,
.dark .dijitToggleButtonHover .dijitButtonNode {
	background-color: #094055;
	border-color: #094055;
	text-decoration: underline;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

/* active, checked status */
.dark .dijitButtonActive .dijitButtonNode,
.dark .dijitDropDownButtonActive .dijitButtonNode,
.dark .dijitComboButtonActive .dijitButtonNode,
.dark .dijitToggleButtonActive .dijitButtonNode,
.dark .dijitToggleButtonChecked .dijitButtonNode {
	background-color: #094055;
	border-color: #094055;
	-webkit-transition-duration: 0.1s;
	-moz-transition-duration: 0.1s;
	transition-duration: 0.1s;
}

/* disabled status */
.dark .dijitButtonDisabled,
.dark .dijitDropDownButtonDisabled,
.dark .dijitComboButtonDisabled,
.dark .dijitToggleButtonDisabled {
	background-image: none;
	outline: none;
}

.dark .dijitButtonDisabled .dijitButtonNode,
.dark .dijitDropDownButtonDisabled .dijitButtonNode,
.dark .dijitComboButtonDisabled .dijitButtonNode,
.dark .dijitToggleButtonDisabled .dijitButtonNode {
	background-color: #efefef;
	border: solid 1px #d3d3d3;
	color: #818181;
}

.dark .dijitComboButtonDisabled .dijitArrowButton {
	border-left-width: 0;
}

/* for ComboButton */
.dark table.dijitComboButton {
	border-collapse: separate;
	/* override dijit.css so that ComboBox rounded corners work */

}

.dark .dijitComboButton .dijitStretch {
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}

.dark .dijitComboButton .dijitArrowButton {
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
